## Print function recap
![](https://scaler.com/topics/images/print-in-python.webp)

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello")
print()
print("World")

Hello

World

In [3]:
print(5)

5

In [4]:
print(23423.624573472)

23423.624573472

In [5]:
print(8 * 9)

72

In [6]:
print("8 * 9")

8 * 9

## type()
![](https://scaler.com/topics/images/type-in-python.webp)

In [7]:
print(type(10))

<class 'int'>

In [8]:
print(type(-3))

<class 'int'>

In [9]:
print(type(0))

<class 'int'>

In [10]:
print(type(713947527893745981658168163401034580394))

<class 'int'>

In [11]:
print(type(5.6))

<class 'float'>

In [12]:
print(type(-235.2456))

<class 'float'>

In [13]:
print(type(34752903846792803.39845798234769813746169))

<class 'float'>

In [14]:
print(type(9.0))

<class 'float'>

#### Quiz 1
Which of the following values are of type `float` in Python? \
\
a. 0.3 \
b. .2 \
c. "2.3" \
d. 1.0 \
e. "3.14" \
f. -3 \
g. 5.

In [22]:
print(type(0.3))
print(type(.2))
print(type("2.3"))
print(type(1.0))
print(type("3.14"))
print(type(-3))
print(type(5.))

# Correct options - a, b, d, g

<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
print(.2)

0.2

In [23]:
print(type(True))

<class 'bool'>

In [24]:
print(type(False))

<class 'bool'>

#### Quiz 2
`print(type(true))`

In [25]:
print(type(true))

NameError: name 'true' is not defined

In [26]:
print(type(True))

<class 'bool'>

In [27]:
print(type(false))

NameError: name 'false' is not defined

In [28]:
print(type(False))

<class 'bool'>

In [29]:
print(type("Hello world"))

<class 'str'>

In [30]:
print(type("abcdef"))

<class 'str'>

In [31]:
print(type(""))

<class 'str'>

In [32]:
print(type('hi how are you'))

<class 'str'>

In [33]:
print(type(None))

<class 'NoneType'>

In [ ]:
# NoneType is a special type dedicated for one single value
# That value is None
# None represents nothing/empty state. Equivalant to NULL in other languages.

#### 5 basic data types in python
1. int
2. float
3. bool
4. str
5. NoneType
![](https://scaler.com/topics/images/type-of-variables-in-python.webp)

## Variables
![](https://scaler.com/topics/images/variables-in-python.webp)

In [34]:
x = 10
y=20
z =30
a= 30

In [35]:
print(x)

10

In [36]:
print(y)

20

In [37]:
print(x + y)

30

In [38]:
print("x + y")

x + y

In [39]:
x = 10
y = 5

print(x + y)
print(x - y)
print(y - x)

15
5
-5

In [40]:
s = "Hello World 123 &*((%(*@#%))) /34646"
print(s)

Hello World 123 &*((%(*@#%))) /34646

In [41]:
print(m)

NameError: name 'm' is not defined

In [ ]:
# Define a variable before using it

In [46]:
# Reassign a value to any variable at any point
x = 10
x = 8
x = 2
x = 50
x = 6.7
x = 'hello world'
x = True
x = None
print(x)

None

<img src="https://scaler.com/topics/images/string-object-python-variable-1024x483.webp" width="300px" />

#### Quiz 3
x = 3  
y = 'hello'  
print(x)  
print(y)

In [47]:
x = 3
y = 'hello'
print(x)
print(y)

3
hello

#### Quiz 4
```py
name='Batman'  
print(Name)
```

In [48]:
name='Batman'  
print(Name)

NameError: name 'Name' is not defined

In [49]:
print(name)

Batman

#### Quiz 5
```py
x = 3
y = 'hello'
num = y
y = 5
print(num, y)
```

In [50]:
x = 3
y = 'hello'
num = y
y = 5
print(num, y)

hello 5

In [51]:
x = 10
y = 20

y = x # y = 10
x = x + 5 # x = 15

print(x, y)

15 10

### Variable Naming Convention
- The variable name should either begin with an Uppercase(A to Z) or Lowercase(a to z) character or an underscore(_).
- One should always remember to use a meaningful name for variables in Python. For example â€“ no_of_chocolates makes more sense than noc.
- Which brings us to the next point. If a variable has multiple words, it is advised to separate them with an underscore.
- One should ensure that a variable name should not be similar to keywords of the programming language.
- One should also remember that even variable names are case-sensitive.
- A variable should not begin with a digit or contain any white spaces or special characters such as #,@,&.

In [52]:
SCALER = 50
scaler = 20
_scaler = 60

In [53]:
12monkeys = 70

SyntaxError: invalid syntax (3788895544.py, line 1)

In [54]:
&scaler = 'ok'

SyntaxError: invalid syntax (943920855.py, line 1)

In [55]:
noc = 10
no_of_chocolates = 10
noofchocolates = 10
noOfChocolates = 10

In [56]:
jfoiashjdgoiahndklahsdhfajdfhauidsguagdshlfggasdilughliaugaiulgfalddffiugiuwelgfwe = 10

In [ ]:
# No limit on variable name length

In [57]:
True = 4

SyntaxError: cannot assign to True (364383922.py, line 1)

In [58]:
False = 9

SyntaxError: cannot assign to False (1416458741.py, line 1)

In [59]:
None = 34

SyntaxError: cannot assign to None (2572093044.py, line 1)

In [62]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [63]:
# variable names are case sensitive

In [64]:
name = 'Sachin'
NAME = 'Nishant'
nAmE = 'Anupama'
NamE = 'Neeraj'

print(name, NAME, nAmE, NamE)

Sachin Nishant Anupama Neeraj

In [65]:
# Variable name can only contain alphanumeric characters and underscore
person1 = 'Bruce Wayne'
person2 = 'Clark Kent'

In [68]:
person&name = 'Diana Prince'

SyntaxError: cannot assign to operator (389440696.py, line 1)

In [67]:
person_name = 'Barry Allen'

In [69]:
person5name = 'Manhunter'

#### Quiz 6
Which of the following is a valid variable name? \
a. hELLO \
b. 1_name_Input \
c. a\*b*c \
d. Cod3$#

In [70]:
hELLO = 80

In [71]:
1_name_Input  = 90
# Starting with a digit
# Variable names must start with a letter

SyntaxError: invalid decimal literal (3666838467.py, line 1)

In [73]:
a*b*c = 100
# Special characters (except underscore) are not allowed

SyntaxError: cannot assign to operator (4094234855.py, line 1)

In [75]:
Cod3$# = 100
# Special characters (except underscore) are not allowed

SyntaxError: invalid syntax (4231934347.py, line 1)

#### Quiz 7
Which of the following is a wrong variable name?
```
a. a_1
b. a_
c. a1_
d. 1_a
```

In [76]:
a_1 = 10

In [77]:
a_ = 10

In [78]:
a1_= 10

In [80]:
1_a = 10
# Starting with a digit
# Variable names must start with a letter

SyntaxError: invalid decimal literal (1845572536.py, line 1)

## Input
![](https://scaler.com/topics/images/raw-input-in-python.webp)

### Greet the user

In [81]:
print("Hello Tarun")

Hello Tarun

In [86]:
name = input()
# This asks the user to provide an input and that input is stored
# in a variable

Oliver Queen

In [84]:
print(name, type(name))
# name = "Tarun Luthra"

Tarun Luthra <class 'str'>

In [87]:
print("Hello", name)

Hello Oliver Queen

In [ ]:
# For now, think of class = type
# class int => type int

In [ ]:
# input() always reads input as a str only

In [88]:
x = input()

5

In [89]:
print(x, type(x))

5 <class 'str'>

In [ ]:
# x = "5"

In [91]:
first = input()
last = input()

print("My name is", first, last)

Tarun
Luthra
My name is Tarun Luthra

#### Quiz 8
```py
x = input()
y = input()
print(x + y)
```

In [92]:
x = input()
y = input()
print(x + y)

5
6
56

In [ ]:
# x = "5"
# y = "6"
# x + y => "5" + "6" = "56"

## Type conversion - Typecasting
![](https://scaler.com/topics/images/what-is-type-casting-in-python.webp)

In [93]:
# Converting data from one type to another

In [95]:
# Convert str to int
x = int("56")
print(x, type(x))

56 <class 'int'>

In [96]:
y = int("75")
print(y, type(y))

75 <class 'int'>

In [97]:
print(x + y)

131

In [98]:
# Read integer from the input

In [100]:
x = int(input())
print(x, type(x))

5
5 <class 'int'>

In [101]:
y = int(input())
print(y, type(y))

10
10 <class 'int'>

In [102]:
print(x + y)

15

### Sum of two numbers

In [103]:
x = int(input())
y = int(input())

print(x + y)

4
7
11

In [105]:
x = int(input())
y = int(input())

print(x + y)

89
43
132

In [ ]:
# More about typecasting in the next lecture

In [ ]:
# Most commonly used typecasting
# str => int (already covered)
# str => float

# Input is always read as a string
# Mostly, we are working with numbers

In [ ]:
# Am I AUDIBLE ?????
# Neeraj ... please reload

In [106]:
# str => float
x = float("76.345")
print(x, type(x))

76.345 <class 'float'>

In [107]:
y = float("-3.5472")
print(y, type(y))

-3.5472 <class 'float'>

In [108]:
print(x + y)

72.7978

In [109]:
x = float("abcdef")

ValueError: could not convert string to float: 'abcdef'

In [ ]:
# You can create your own custom data types as well
# Using concept of OOPS (Classes & Objects)

# Bonus Reading Material
- Print in Python - https://www.scaler.com/topics/print-in-python/
- Type in Python - https://www.scaler.com/topics/type-in-python/
- Data Types in Python - https://www.scaler.com/topics/data-types-in-python/
- Python Input and Output - https://www.scaler.com/topics/python/python-input-and-output/
- Variables in Python - https://www.scaler.com/topics/python/variables-in-python/
- What are the Types of Variables in Python? - https://www.scaler.com/topics/type-of-variables-in-python/
- What is Type Casting in Python? - https://www.scaler.com/topics/type-casting-in-python/
- Type Conversion in Python - https://www.scaler.com/topics/type-conversion-in-python/
- Implicit Type Conversion in Python - https://www.scaler.com/topics/python/implicit-type-conversion-in-python/
- Explicit Type Conversion in Python - https://www.scaler.com/topics/python/explicit-type-conversion-in-python/

# Doubts

In [110]:
s = str(5)  # "5"
print(s, type(s))

5 <class 'str'>

In [113]:
s = input("Provide a name = ")

Provide a name = ok

In [112]:
print(s)

Tarun

In [114]:
x = float(input("Hello"))
print(x, type(x))

Hello7
7.0 <class 'float'>

In [115]:
print(x * x)

49.0